:root{
    --main-color-text:#333333;
    --second-color-text:#4F4F4F;
    --active-color-text:#647B64;
    --header-color-text:#F3B562;
    --button-text-color:#FEFEFE;
    --main-bcg-color:#E5E5E5;
    --second-bcg-color:#FFFFFF;
    --third-bcg-color:#647B64; 
     }
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--main-color-text);
    background-color: var(--main-bcg-color);

    }
a{text-decoration: none;
   color:inherit;
   display:block;} 
    /* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
      }
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
      }
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
     }
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
        }
        /*СВОЙСТВА КОНТЕЙНЕРА*/
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}        
 /* ОБЩИЙ СТИЛЬ КНОПОК */
.button{
    
    padding: 24px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;

    color:var(--button-text-color);


    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
    border-radius: 2px;
    border-color:transparent;
       }              

/* ОБЩИЙ СТИЛЬ ДЛЯ ЗАГОЛОВКОВ СЕКЦИЙ */
.title{
    
    font-weight: 400;
    line-height: 1.33;
    
    text-transform: uppercase;
    
    color:var(--header-color-text);
      }
.subtitle{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;

    text-transform: uppercase;

    color:var(--active-color-text);
         } 
 /*     ШАПКА (HEADER)    */
.container.header{
    padding-top: 48px;
    padding-bottom: 34px;
                  } 
.nav{
    display: flex;
    align-items: center;
     }
.nav-list{
    display: flex;
    margin-right: 40px;
    margin-left:auto;
    gap:40px;
         }
.nav-list-link{
    line-height:1.5;
               }                                 
.button.header{
    padding: 12px 16px;
               }
    /*  ГЕРОЙ (HERO)  */
.section-hero{
    padding-bottom: 110px;
}    
.container.hero{
    display: flex;
    justify-content: space-between;
                }
.hero-part{
  width: 600px;
           } 
.hero-title{
    padding-top: 170px;
    margin-bottom: 25px;
           }
.hero-text{
    margin-bottom: 40px;
}                      
