:root{
    --main-color-text:#333333;
    --second-color-text:#4F4F4F;
    --active-color-text:#647B64;
    --header-color-text:#F3B562;
    --button-text-color:#FEFEFE;
    --main-bcg-color:#E5E5E5;
    --second-bcg-color:#FFFFFF;
    --third-bcg-color:#647B64; 
     }
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--main-color-text);
    background-color: var(--main-bcg-color);

    }
a{text-decoration: none;}    
.list{list-style: none;}
.title{
    
    font-weight: 400;
    line-height: 1.33;
    
    text-transform: uppercase;
    
    color:var(--header-color-text);
      }
.subtitle{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;

    text-transform: uppercase;

    color:var(--active-color-text);
         } 
.button{
    width: 200px;
    height: 72px;
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;

    color:var(--button-text-color);


    background: linear-gradient(102.3deg, #647B64 -4.62%, #66AC66 178.22%);
    box-shadow: 0px 20px 40px rgba(128, 143, 150, 0.19);
    border-radius: 2px;
    border-color:transparent;
       }              


